@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

@font-face {
    font-family: 'Jalnan';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

.tabBanner {
    text-align: center;
}

.tabBanner img {
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.tabBox1 {
    padding: 0 15px;
}

.tabBox > div {
    display: none;
}

.tabBox > div.show {
    display: block;
}

a:hover {
    color: #242424;
    text-decoration: none;
}

.tabBox > div {
    display: none;
}

.tabBox > div.show {
    display: block;
}

.floatBox .left {
    float: left;
}

.floatBox .right {
    float: right;
}

.floatBox::after {
    display: block;
    content: "";
    clear: both;
}

.flBox > *:nth-child(1) {
    float: left;
}

.flBox > *:nth-child(2) {
    float: right;
}

.flBox::after {
    display: block;
    content: "";
    clear: both;
}

.flleft > * {
    float: left;
}

.flleft::after {
    display: block;
    content: "";
    clear: both;
}

.abBoxL {
    position: relative;
}

.abBoxL .ab {
    position: absolute;
    left: 0;
    top: 0;
}

.abBoxR {
    position: relative;
}

.abBoxR .ab {
    position: absolute;
    right: 0;
    top: 0;
}

.headerWrap {
    -webkit-box-shadow: 0px 1px 27px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0px 1px 27px 0 rgba(0, 0, 0, 0.08);
}

.jnLnPo_box {
    min-width: 360px;
    width: 100%;
    /*  margin: 0 10px;*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding: 0 0px 60px 0px;
}

.jnLnPo_box .tabWrap {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    box-shadow: 0px 2px 6px 0 rgba(69, 31, 119, 0.2);
}

.jnLnPo_box .tabWrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}


.jnLnPo_box .tabWrap .tabMenu1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 50px;
/*
    -webkit-box-shadow: 0px 2px 6px 0 rgba(69, 31, 119, 0.2);
    box-shadow: 0px 2px 6px 0 rgba(69, 31, 119, 0.2);
*/
    background-color: #fff;

    margin: auto;
    padding: 0 15px;
}

.jnLnPo_box .tabWrap .tabMenu1 button {
    /*  width: 50%;*/
    height: 50px;
    background-color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #6e6e6e;
}

.jnLnPo_box .tabWrap .tabMenu1 button span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 20px;
    border-bottom: 4px solid #fff;
}

.jnLnPo_box .tabWrap .tabMenu1 button.active {
    font-weight: bold;
    color: #9c57f5;
}

.jnLnPo_box .tabWrap .tabMenu1 button.active span {
    border-bottom: 3px solid #9c57f5;
}

.jnLnPo_box .btn_link_wrap {
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.jnLnPo_box .btn_link_wrap button {
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 6px 0 rgba(69, 31, 119, 0.2);
    box-shadow: 0px 2px 6px 0 rgba(69, 31, 119, 0.2);
    background-color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #292929;
    margin: 15px 5px 0 5px;
    padding: 1px 12px 2px 13px;
}

.jnLnPo_box .btn_link_wrap button.active {
    color: #FFF;
    background-color: #9c57f5;
}

.jnLnPo_box .title {
    display: block;
    min-height: 40px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    color: #292929;
    border-radius: 6px;
    padding: 7px 0 8px 44px;
    margin: 30px 0 0 0;
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit01.png") no-repeat 14px 8px/23px auto;
}

.jnLnPo_box .title.type2 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit02.png") no-repeat 14px 8px/17px auto;
    padding: 7px 0 8px 40px;
}

.jnLnPo_box .title.type3 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit03.png") no-repeat 14px 9px/19px auto;
    padding: 7px 0 8px 42px;
}

.jnLnPo_box .title.type4 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit04.png") no-repeat 14px 8px/28px auto;
    padding: 7px 0 8px 52px;
}

.jnLnPo_box .title.type5 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit05.png") no-repeat 14px 10px/28px auto;
    padding: 7px 0 8px 52px;
}

.jnLnPo_box .title.type6 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit06.png") no-repeat 14px 10px/28px auto;
    padding: 7px 0 8px 52px;
}

.jnLnPo_box .title.type7 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit07.png") no-repeat 14px 10px/20px auto;
    padding: 7px 0 8px 44px;
}

.jnLnPo_box .title.type8 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit08.png") no-repeat 14px 9px/24px auto;
    padding: 7px 0 8px 48px;
}

.jnLnPo_box .title.type9 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit09.png") no-repeat 14px 9px/20px auto;
    padding: 7px 0 8px 44px;
}

.jnLnPo_box .title.type10 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit10.png") no-repeat 14px 10px/30px auto;
    padding: 7px 0 8px 54px;
}

.jnLnPo_box .title.type11 {
    background: rgba(112, 110, 254, 0.1) url("../img/ico_tit11.png") no-repeat 14px 10px/26px auto;
    padding: 7px 0 8px 50px;
}


.jnLnPo_box .tableWrap {
    width: 100%;
    border-top: 3px solid #9c57f5;
    font-size: 14px;
    margin: 20px 0 0 0;
    font-weight: 500;
}

.jnLnPo_box .tableWrap table {
    width: 100%;
    word-break: keep-all;
}

.jnLnPo_box .tableWrap .table-break {
    word-break: break-all;
}

.jnLnPo_box .tableWrap table thead tr th {
    font-weight: 500;
    background: rgba(155, 87, 245, 0.05);
    text-align: center;
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
    padding: 14px 10px 14px 10px;
}

.jnLnPo_box .tableWrap table thead tr th:last-child {
    border-right: 0 !important;
}

.jnLnPo_box .tableWrap table thead tr td {
    font-weight: 500;
    background: rgba(155, 87, 245, 0.05);
    text-align: center;
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
    border-left: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .tableWrap table tbody tr th {
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
    background: rgba(155, 87, 245, 0.05);
    padding: 14px 10px;
}

.jnLnPo_box .tableWrap table tbody tr td {
    font-weight: 400;
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
    border-left: 2px solid rgba(155, 87, 245, 0.3);
    padding: 14px 0 14px 20px;
}

.jnLnPo_box .tableWrap table tbody tr td:first-of-type(1) {
    border-left: 0;
}

.jnLnPo_box .tableWrap table tbody tr td em {
    font-weight: 500;
    color: #9c57f5;
}

.jnLnPo_box .tableWrap.type2 table tbody tr th {
    background: rgba(155, 87, 245, 0.05);
    text-align: center;
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .tableWrap.type2 table tbody tr td {
    border-bottom: 2px solid rgba(155, 87, 245, 0.3);
    border-left: 0;
    padding: 14px 20px 14px 20px;
}

.jnLnPo_box .tableWrap.type3 {
    margin: 20px 0 0 0;
}

.jnLnPo_box .tableWrap.type3 table thead tr th {
    /*  height: 113px;*/
    border-right: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .tableWrap.type3 table tbody tr th {
    background: rgba(155, 87, 245, 0.05);
}

.jnLnPo_box .tableWrap.type3 table tbody tr td {
    text-align: center;
    padding: 10px 0;
}

.jnLnPo_box .tableWrap.type4 {
    margin: 20px 0 0 0;
}

.jnLnPo_box .tableWrap.type4 table thead tr th {
    /*  height: 113px;*/
    border-right: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .tableWrap.type4 table tbody tr td {
    text-align: left;
    padding: 10px;
}

.jnLnPo_box .tableWrap.type5 table thead tr th {
    border-right: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .tableWrap.type5 table tbody tr th {
    background: rgba(155, 87, 245, 0.05);
    border-right: 2px solid rgba(155, 87, 245, 0.3);
    padding: 10px;
}

.jnLnPo_box .tableWrap.type5 table tbody tr td {
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}

.jnLnPo_box .tableWrap table tbody tr td.table-center {
    text-align: center;
}

.jnLnPo_box .tableWrap table tbody tr td.table-left {
    border-left: 0;
}

.jnLnPo_box .tableWrap table tbody .table-left-line {
    border-left: 2px solid rgba(155, 87, 245, 0.3);
}

.jnLnPo_box .ulList {
    margin: 24px 0 0 0;
}

.jnLnPo_box .ulList li {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #292929;
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}

.jnLnPo_box .ulList li span {
    display: inline-block;
    height: 8px;
    line-height: 0;
    border-radius: 4px;
    background-color: rgba(155, 87, 245, 0.2);
}

.jnLnPo_box .ulList li em {
    color: #9c57f5;
    font-weight: 400;
}

.jnLnPo_box .ulList li:first-child {
    margin: 0;
}

.jnLnPo_box .ulList li.pd60 {
    padding: 0 0 0 60px;
}

.jnLnPo_box .ulList li.pd80 {
    padding: 0 0 0 80px;
}

.jnLnPo_box .ulList li::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "-";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type2 {
    padding: 0 0 0 17px;
}

.jnLnPo_box .ulList li.type4 {
    padding: 0 0 0 20px;
}

.jnLnPo_box .ulList li.type2::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "※";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num1::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "①";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num2::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "②";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num3::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "③";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num4::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "④";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num5::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "⑤";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num6::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "⑥";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type4_num7::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "⑦";
    width: 5px;
    height: 5px;
}


.jnLnPo_box .ulList li.type5_num1::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(1)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type5_num2::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(2)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type5_num3::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(3)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type5_num4::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(4)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type5_num5::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(5)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type5_num6::before {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    content: "(6)";
    width: 5px;
    height: 5px;
}

.jnLnPo_box .ulList li.type3 {
    padding: 0;
}

.jnLnPo_box .ulList li.type3::before {
    display: none;
}

.jnLnPo_box .ulList.type2 {
    margin: 20px 0 0 0;
}

.jnLnPo_box .ulList.type3 {
    margin: 0;
}

.jnLnPo_box .ulList.type4 {
    margin: 10px 0 0 0;
}

.jnLnPo_box .li-break li {
    word-break: break-all;
}


.jnLnPo_box .text_radius {
    display: inline-block;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    color: #292929;
    padding: 3px 15px;
    border-radius: 18px;
    border: solid 2px #706efe;
    margin: 30px 0 0 0;
/*    width: 100%;*/
    word-break: keep-all;
}

.jnLnPo_box .text_radius.type2 {
    margin: 40px 0 0 0;
}

.jnLnPo_box .countList li {
    position: relative;
    margin: 20px 0 0 0;
}

.jnLnPo_box .countList li > span {
    position: absolute;
    left: 0;
    top: 7px;
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    border-radius: 25px;
    background: rgba(155, 87, 245, 0.5);
    font-family: Jalnan;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.jnLnPo_box .countList li .countListConts {
    border-radius: 20px;
    background: rgba(155, 87, 245, 0.1);
    margin: 0 0 0 40px;
    padding: 0 22px 0 22px;
}

.jnLnPo_box .countList li .countListConts div {
    padding: 18px 0 11px 0;
    font-size: 14px;
    font-weight: 500;
    color: #292929;
}

.jnLnPo_box .countList li .countListConts div.dot_top {
    border-top: dotted 2px #fff;
    padding: 12px 0 17px 0;
}

.jnLnPo_box .countList li.type2 .countListConts div {
    padding: 14px 0 14px 0;
}

.jnLnPo_box .countList.type2 li .countListConts div {
    padding: 14px 0 14px 0;
}

.jnLnPo_box .borderList {
    margin: 54px 0 0 0;
}

.jnLnPo_box .borderList > li {
    position: relative;
    border-radius: 20px;
    border: solid 3px #9c57f5;
    margin: 43px 0 0 0;
    padding: 45px 18px 18px 18px;
}

.jnLnPo_box .borderList > li .borderListTit {
    position: absolute;
    left: -3px;
    top: -25px;
    display: inline-block;
    height: 50px;
    line-height: 43px;
    border-radius: 25px;
    border: solid 3px #9c57f5;
    background-color: #f5eefe;
    font-size: 16px;
    font-weight: bold;
    color: #292929;
    padding: 0 20px 0 20px;
    letter-spacing: -0.4px;
}

.jnLnPo_box .borderList > li .borderListTit em {
    position: relative;
    top: 1px;
    font-family: Jalnan;
    font-size: 22px;
    color: #9c57f5;
    margin: 0 11px 0 0;
}

.jnLnPo_box .borderList.type2 {
    margin: 48px 0 0 0;
}

.jnLnPo_box .borderList.type2 > li {
    margin: 40px 0 0 0;
}

.jnLnPo_box .borderList.type2 > li .borderListTit {
    left: 50%;
    margin: 0 0 0 -60px;
}

.jnLnPo_box .borderList.type2 > li .ulList li {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #292929;
}

.jnLnPo_box p {
    font-weight: 400;
}

.jnLnPo_box p strong {
    font-weight: 700;
}

.jnLnPo_box .paragraph {
    margin-top: 20px;
}

.jnLnPo_box .paragraph.type2 {
    margin-top: 30px;
}

.jnLnPo_box .paragraph.type3 {
    margin-top: 10px;
}

.jnLnPo_box .img_info {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.jnLnPo_box .img_info img {
    width: 100%;
    max-width: 330px;
}

.jnLnPo_box .olList.type2 {
    margin-top: 20px;
}

.jnLnPo_box .olList > li {
    list-style: decimal;
    margin-left: 16px;
    padding-bottom: 10px;
    font-weight: 400;
}


.tabWrap2 {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.tabWrap2::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.tabWrap2.type2 {
/*    padding: 10px*/
}

.tabWrap2 .tabMenu3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
/*    height: 50px;*/
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    padding-bottom: 5px;
}

.tabWrap2.type2 .tabMenu3 {
/*    justify-content: flex-start;*/
}

.tabWrap2.type2 .tabMenu3 {
    margin-left: 0;
}

.tabWrap2 .tabMenu3 > span {
    margin-right: 16px;
    font-weight: 500;
}

.tabWrap2 .tabMenu3 button {
    background-color: transparent;
/*    width: 58px;*/
    margin: 0 3px;
    padding: 0 20px;
    text-align: left;
    border: 1px solid #cdcdcd;
    height: 25px;
    line-height: 1px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 2px 4px 0 rgba(69, 31, 119, 0.2);
    box-shadow: 0px 2px 4px 0 rgba(69, 31, 119, 0.2);
}

.tabWrap2.type2 .tabMenu3 button:nth-of-type(1) {
/*    padding-right: 4px;*/
    margin-left: 0;
}

.tabWrap2.type2 .tabMenu3 button {
    width: auto;
/*    height: 30px;*/
}

.tabWrap2 .tabMenu3 button.active {
    font-weight: 500;
    background-color: rgba(112, 110, 254,.8);
    color: #fff;
    border: none;
}

.tabWrap2.type2 .tabMenu3 button.active {
/*    padding-right: 4px;*/
}