/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/


/* 210708 css 시작*/

.container_wrap {
    width: 100%;

    position: relative;
}

/*헤더*/
.header {
    width: 100%;
    height: 960px;
    text-align: center;

    position: absolute;
    z-index: 1;

    background: -moz-linear-gradient(-45deg, rgba(173, 207, 255, 0.2) 0%, rgba(181, 176, 248, 0.2) 50%, rgba(187, 143, 240, 0.2) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(173, 207, 255, 0.2) 0%, rgba(181, 176, 248, 0.2) 50%, rgba(187, 143, 240, 0.2) 100%);
    background: linear-gradient(135deg, rgba(173, 207, 255, 0.2) 0%, rgba(181, 176, 248, 0.2) 50%, rgba(187, 143, 240, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33adcfff', endColorstr='#33bb8ff0', GradientType=1);
}

.header h1 {
    padding-top: 30px;
    height: 25px;
}

.header h1 img {
    height: 100%;
    width: auto;
}

/*결과*/

.container {
    max-width: 1020px;
    padding: 40px 90px 370px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 2px 2px 20px 10px rgba(63, 41, 115, .1);

    position: relative;
    z-index: 2;
    right: 0;
    left: 0;
    margin: auto;
    top: 74px;
    margin-bottom: 100px;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    width: 866px;
    height: 309px;
    background: url(../images/bg-bottom.png) no-repeat center;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -4px;
}

.test_title {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.test_title img {
    height: 55px;
    width: auto;
}

.test_title .txt {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 14px;
}

.test_title .txt h1 {
    font-weight: 700;
    color: #4e3275;
    font-size: 32px;
    margin-bottom: 8px;
}

.test_title .txt h2 {
    font-weight: 300;
    color: #6e6e6e;
    font-size: 15px;
}

.result_inner {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.result_inner h2 {
    line-height: 1.5;
    font-size: 26px;
    font-weight: 700;
    color: #292929;
}

.result_inner h3 {
    margin: 30px 0 50px;
    font-size: 36px;
    font-weight: 900;
}

.result_inner h3 span:nth-of-type(1) {
    color: #9465e9;
    padding-right: 4px;
}

.result_inner h3 span:nth-of-type(2) {
    color: #f46868;
    padding-right: 4px;
}

.result_inner h3 span:nth-of-type(3) {
    color: #09b9af;
    padding-right: 4px;
}

.result_inner h3 span:nth-of-type(4) {
    color: #ff9453;
    padding-right: 8px;
}

.result_inner h3 em {
    color: #f46868;
}

.result_inner img {
    height: 500px;
}

.part {
    margin-top: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #292929;
    font-weight: 400;
}

.part h1 {
    position: relative;

    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.p1 h1::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 32px;
    background: url(../images/ico-p1.png);
    background-size: cover;

    left: -44px;
    bottom: 0;
}

.p1 .txt {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 26px;
}

.p1 ul {
    padding-left: 24px;
    font-size: 16px;
}

.p1 ul li {
    margin-bottom: 20px;
    line-height: 1.7;
    position: relative;
}

.p1 ul li::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/ico-plum.png) center;
    top: 7px;
    left: -24px;
}

.p2 h1::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 32px;
    background: url(../images/ico-p2.png);

    left: -40px;
    bottom: 0;
}

.p2 ul {
    padding-top: 10px;
}

.p2 ul li {
    margin-bottom: 30px;
}

.p2 ul li .num {
    font-size: 18px;
    font-weight: 700;
    color: #f46868;
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 2px solid #f46868;
    background-color: #fff;
    border-radius: 100%;
    padding: 2px;
    text-align: center;
}

.p2 ul li .txt {
    padding: 0 25px 0 10px;
    position: relative;
}

.p2 ul li .txt::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 12px;
    background-color: #ffc4a4;
    opacity: .5;
    left: -15px;
    bottom: -5px;
    z-index: -1;
}

.p3 h1::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 28px;
    background: url(../images/ico-p3.png);

    left: -48px;
    bottom: 0;
}

.p4 h1::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 32px;
    background: url(../images/ico-p4.png);

    left: -27px;
    bottom: 0;
}

/*스와이퍼 공통*/
.swiper-container {
    width: 100%;
}

.swiper-container .swiper-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.swiper-container .swiper-wrapper .swiper-slide {
    margin-bottom: 24px;
    width: 260px;
    height: 201px;
    text-align: center;
    border-radius: 20px;
    background-color: #f4eefc;
    position: relative;
}

.swiper-container .swiper-wrapper .swiper-slide h2 {
    width: 210px;
    margin: auto;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.swiper-container .swiper-wrapper .swiper-slide h2::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: url(../images/ico-plum.png);
    right: 0;
    left: 0;
    margin: auto;
    top: 12px;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox {
    width: 100%;
    height: 100px;
    background-color: #242424;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox img {
    opacity: .6;
    width: 100%;
    transition: .3s ease;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox:hover img {
    opacity: 1;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox span {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    color: #292929;
    width: 145px;
    height: 31px;
    border-radius: 15px;
    transition: .3s ease;
    box-sizing: border-box;
    text-align: left;
    padding: 6px 20px 6px 14px;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox span::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 10px;
    background: url(../images/arrow.png) bottom;
    right: 14px;
    bottom: 11px;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox:hover span {
    background-color: #292929;
    color: #fff;
}

.swiper-container .swiper-wrapper .swiper-slide .imgBox:hover span::before {
    background: url(../images/arrow.png) top;
}

/*p4만*/
.p4 .swiper-container .swiper-wrapper .swiper-slide {
    height: 183px;
}

.p4 .swiper-container .swiper-wrapper .swiper-slide {
    background-color: #f9f5f5;
}

.p4 .swiper-container .swiper-wrapper .swiper-slide .imgBox {
    height: 82px;
    border-radius:  10px 10px 20px 20px;
}


/*1100*/
@media only screen and (max-width: 1100px) {
    
    .container {
        margin: 0 40px 100px;
    }
    
    .result_inner img {
        height: 420px;
    }
    
    .p2 ul li .txt {
        line-height: 1.8
    }
    
    .p2 ul li .txt::before {
        width: 0;
    }
    
    .swiper-container .swiper-wrapper .swiper-slide {
        max-width: 260px;
        width: 30%;
    }
    
    .swiper-container .swiper-wrapper .swiper-slide h2 {
        width: 80%;
    }
    
    .swiper-container .swiper-wrapper .swiper-slide .imgBox {
        height: auto;
    }
    
    .p4 .swiper-container .swiper-wrapper .swiper-slide .imgBox {
        height: auto;
    }
    
}

/*800*/
@media only screen and (max-width: 800px) {
 
    .container {
        padding: 40px 70px 270px;
    }
    
    .container::before {
        width: 621px;
        height: 221px;
        background-size: contain;
    }
    
    .result_inner img {
        height: 366px;
    }
    
    .swiper-container .swiper-wrapper .swiper-slide {
        max-width: 260px;
        width: 46%;
    }
    
}

/*600*/
@media only screen and (max-width: 640px) {
    
    .header h1 {
        height: 20px;
    }
    
    .container {
        margin: 0 20px 100px;
        padding: 40px 40px 240px;
    }
    
    .container::before {
        width: 556px;
        height: 198px;
    }
    
    .test_title {
        margin-bottom: 50px;
    }
    
    .test_title img {
        height: 52px;
    }
    
    .test_title .txt h1 {
        font-size: 28px;
    }
    
    .result_inner h2 {
        font-size: 24px;
    }
    
    .result_inner h3 {
        font-size: 28px;
    }
    
    .result_inner img {
        height: 300px;
    }
    
    .result_wrap h1 {
        margin-left: 20px;
    }
    
    .part {
        margin-top: 60px;
    }
    
    .p1 .txt {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .p2 {
/*        margin-right: 20px;*/
    }
    
    .p2 ul {
        margin-left: 20px;
    }
    
}

/*440*/
@media only screen and (max-width: 440px) {
    
    .container {
        padding: 30px 10px 150px
    }
    
    .container::before {
        width: 286px;
        height: 102px;
    }
    
    .test_title {
        align-items: center;
        margin-bottom: 30px;
    }
    
    .test_title img {
        height: 40px;
    }
    
    .test_title .txt h1 {
        font-size: 22px;
    }
    
    .test_title .txt h2 {
        display: none;
    }
    
    .result_inner h2 {
        font-size: 18px;
    }
    
    .result_inner h3 {
        font-size: 24px;
    }
    
    .result_inner img {
        height: 180px;
    }
    
    .result_wrap h1 {
        text-align: center;
        margin-left: 0;
        font-size: 18px;
    }
    
    .p1 h1::before {
        width: 26px;
        height: 22px;
        left:0;
        right: 0;
        margin: auto;
        right: 119px;
    }
    
    .p1 .txt {
        font-size: 17px;
    }
    
    .p1 ul {
        font-size: 15px;
    }
    
    .p1 ul li::before {
        left: -20px;
    }
    
    .p2 h1::before {
        width: 23px;
        height: 22px;
        background-size: contain;
        left:0;
        right: 0;
        margin: auto;
        right: 184px;
    }
    
    .p2 ul li {
        margin-bottom: 14px;
    }
    
    .p2 ul li .num {
        width: 24px;
        height: 24px;
        font-size: 15px;
    }
    
    .p3 h1::before {
        width: 26px;
        height: 18px;
        background-size: contain;
        left:0;
        right: 0;
        margin: auto;
        right: 262px;
    }
    
    .swiper-container .swiper-wrapper .swiper-slide {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .p4 h1::before {
        width: 12px;
        height: 20px;
        background-size: contain;
        left:0;
        right: 0;
        margin: auto;
        right: 228px;
    }
    
}

@media only screen and (max-width: 340px) {
    
    .test_title {
        flex-flow: column;
    }
    
    .test_title img {
        height: 30px;
        margin-bottom: 4px;
    }
    
    .result_inner img {
        height: 160px;
    }
    
    .result_inner h2 {
        font-size: 17px;
    }
    
    .result_inner h3 {
        font-size: 22px;
    }
}