@charset "UTF-8";

.inquiry_wrap {
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
}


/*2나의 1:1 문의-답변대기*/

.inquiry_wrap h1 {
    font-size: 22px;
    color: #242424;
    font-weight: bold;
    padding-left: 32px;
    margin-bottom: 30px;
    position: relative;
}

.inquiry_wrap h1::before {
    content: url(../img/title-inquiry.png);
    position: absolute;
    left: 0;
    top: 3px;
}


.inquiry_wrap .board_detail {
    width: 100%;
    text-align: left;
    border-top: 2px solid #b678ff;
}

.inquiry_wrap .board_detail .board_detail_content {
    padding: 20px 0 0;
}

.inquiry_wrap .board_detail_content h3.b_title {
    height: 24px;
    font-size: 18px;
    background: url(../img/ico_subject.png) 3px 4px no-repeat;
    padding: 0 0 0 30px;
}

.inquiry_wrap .board_detail_content .title_area {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inquiry_wrap .board_detail_content .title_area .writer .info {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.inquiry_wrap  .board_detail_content .title_area .writer .info .img_box {
    margin: 10px 10px 10px 0px;
}

.inquiry_wrap .board_detail_content .title_area .writer .info span.name {
    font-size: 14px;
}

.inquiry_wrap .board_detail_content .title_area .writer .info span.time {
    font-size: 12px;
    color: #aab0b9;
    font-weight: 300;
}

.inquiry_wrap .board_detail_content .title_area .board_state {
     font-size: 14px;
    padding-bottom: 10px;
}

.inquiry_wrap .board_detail_content .title_area .board_state span {
    color: #989898;
}

.inquiry_wrap .board_detail_content .title_area .board_state span::after {
    content: '|';
    padding: 12px;
}

.inquiry_wrap .board_detail_content .title_area .board_state strong {
    font-weight: normal;
}

.inquiry_wrap .board_detail_content .title_area .board_state .state-wait {
    color: #f15959;
}

.inquiry_wrap .board_detail_content .title_area .board_state .state-completion {
    color: #9c57f5;
}

.inquiry_wrap .board_detail_content .memo_area {
    border-style: solid;
    border-image: linear-gradient(270deg, rgb(173, 208, 255, 0.4), rgb(188, 143, 240, 0.4));
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
}

.inquiry_wrap .board_detail_content .memo_area .memo_content {
    padding: 20px 13px;
    font-size: 15px;
    line-height: 30px;
    color: #333;
    font-weight: 400;
    font-family: 'noto sans kr';
    min-height: 150px;
    margin: 0 auto;
}

.inquiry_wrap .board_detail_content .memo_area .memo_bottom {
    margin: 30px 20px 20px;
}

.inquiry_wrap .board_detail_content .btn_wr {
    text-align: center;
    margin: 20px auto;
}

.inquiry_wrap .board_detail_content .btn_wr a {
    vertical-align: middle;
    display: inline-block;
    width: 100px;
  height: 40px;
    line-height: 38px;
    margin: 0 2px;
    border-radius: 10px;
    font-size: 16px;
}

.inquiry_wrap .board_detail_content .btn_wr a.none {
    display: none;
}

.inquiry_wrap .board_detail_content .btn_wr .btn_modify,
.inquiry_wrap .board_detail_content .btn_wr .btn_delete {
    width: 100px;
    background-color: #9c57f5;
    border: 1px solid #9c57f5;
    color: #fff;
}

.inquiry_wrap .board_detail_content .btn_wr .btn_list {
     width: 120px;
    border: 1px solid #9c57f5;
    color: #9c57f5;
}



/*나의 1:1 문의-답변완료*/
.inquiry_wrap .board_detail .answer_wrap > div {
    border-top: 2px solid #b678ff;
}

.inquiry_wrap .answer_wrap .title_area .board_set {
     display: flex;
    padding-bottom: 10px;
}

.inquiry_wrap .answer_wrap .title_area .board_set > div {
    width: 60px;
  height: 30px;
    border-radius: 10px;
    border: 1px solid #989898;
    color: #989898;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    margin-left: 10px;
    cursor: pointer;
}



/*답변쓰기*/
.comment_area {
    margin: 30px auto 0;
}

.comment_area h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 20px;
}

.comment_area .area {
    border-top: 2px solid #b678ff;
    padding: 20px 0 0;
}

.comment_area .area .box {
    border: 1px solid #989898;
    position: relative;
    border-radius: 20px;
    padding-top: 0;
}

.comment_area .area .box textarea.txt_input {
    width: 100%;
    height: 120px;
    padding: 15px;
    resize: none;
    border: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.comment_area .area .box textarea.txt_input {
    width: 100%;
    height: 120px;
    padding: 15px;
    resize: none;
    border: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.comment_area .area .box .etc_area {
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    height: 50px;
}

.comment_area .area .box .etc_area div:nth-child(1) {
    margin-right: auto;
}

.comment_area .area .box .etc_area button.btn_emoticon {
    border: 0;
    margin-left: 15px;
    padding-left: 20px;
    background: url(/img/skin_img/img/ico_emoticon.png) 0 50% no-repeat;
}

.comment_area .area .box .etc_area button.btn_file {
    border: 0;
    margin-left: 15px;
    padding-left: 20px;
    background: url(/img/skin_img/img/ico_file.png) 0 50% no-repeat;
}

.comment_area .area .box .etc_area button.btn_movie {
    border: 0;
    margin-left: 15px;
    padding-left: 20px;
    background: url(/img/skin_img/img/ico_movie.png) 0 50% no-repeat;
}



.comment_area .area .box .etc_area button.btn_write {
    border: 0;
    width: 125px;
    height: 50px;
    background: #b678ff;
    color: #fff;
    font-size: 16px;
    border-bottom-right-radius: 20px;
}
