header {
	margin: 0 auto;
	height: 440px;
}

header .header {
	width: 1280px;
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	top: 21px;
}

.header img {
	position: relative;
	bottom: 1px;
}




.pg_title {
	width: 100%;
	height: 360px;
	background: url(../images/bg_pg_title.png) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	bottom: 0;
}

.pg_title .visual {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 360px;
}

.pg_title h1 {
	font-size: 5rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0px 0px 8px rgba(50,37,22,.6);
}





/*메뉴의 퀵메뉴*/

#quick_menu {
	position: fixed;
	top: 20%;
	left: 4rem;
	z-index: 10;
}

#quick_menu ul {
	
}

#quick_menu li {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #642706;
	
	text-align: center;
	margin-bottom: 2rem;
}

#quick_menu li.on {
	background-color: #963e0f;
	box-shadow: 1px 2px 3px rgba(50,37,22,.5);
}

#quick_menu li:hover {
	background-color: #963e0f;
}

#quick_menu li a {
	display: block;
	color: #fff;
	font-weight: 500;
	font-size: 1.6rem;
	
	letter-spacing: 4px;
	line-height: 80px;
	padding-left: 4px;
}

#quick_menu li:nth-child(2) a {
	line-height: 1.4;
	padding-top: 18px;
}






/*메뉴*/


#wrap {
	position: relative;
}



.menu_title {
	text-align: center;
	margin: 0 auto 30px;
	padding-top: 90px;
}

.menu_title h3 {
	font-size: 4.8rem;
	font-family: 'Noto Serif KR', serif;
	font-weight: 500;
	margin-bottom: 30px;
}


.menu_title h3:before {
	content: "――― \00A0 \00A0";
	color: #fc6b00;
}

.menu_title h3:after {
	content: "\00A0  \00A0 ―――";
	color: #fc6b00;
}



.menu_title p {
	width: 620px;
	font-size: 2rem;
	line-height: 1.7;
	
	margin: 0 auto 80px;
	word-break: keep-all;
}




.menu_list {
	margin-bottom: 30px;
}

.menu_list ul {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.menu_list ul li {
	width: 400px;
	height: 480px;
	margin-bottom: 40px;
	cursor: pointer;
	
	position: relative;
}

.menu_list ul li img:nth-child(1) {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.menu_list ul li img.icn-best {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}

.menu_list ul li .name {
	width: 100%;
	text-align: center;
	
	position: absolute;
	top: 410px;
}

.menu_list ul li .name h4 {
	font-size: 2.8rem;
	font-weight: 500;
}

.menu_list ul li .name p {
	font-size: 2rem;
	color: #963e0f;
}




.menu_list ul li .info {
	width: 400px;
	height: 400px;
	background-color: rgba(100,39,6,.8);
	text-align: center;
	
	position: absolute;
	top: 0;
	opacity: 0;
	
	transition: 0.5s ease;
}

.menu_list ul li .info .ko_name {
	font-size: 3.2rem;
	font-weight: 500;
	margin-top: 80px;
	color: #fff;
	transform: scale(0.8);
	transition: 0.5s ease;
}

.menu_list ul li .info .eng_name {
	font-size: 2.4rem;
	color: #fc6b00;
	margin-bottom: 34px;
	transform: scale(0.8);
	transition: 0.5s ease;
}

.menu_list ul li .info .txt {
	font-size: 1.6rem;
	color: #fff;
	width: 280px;
	margin: auto;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: scale(0.8);
	transition: 0.5s ease;
}

.menu_list ul li .info .plus {
	position: absolute;
	
	right: 0;
	left: 0;
	margin: auto;
	bottom: 0px;
	
	
	transition: 0.5s ease;
}




.menu_list ul li:hover .info {
	opacity: 1;
}

.menu_list ul li:hover .info .ko_name {
	transform: scale(1);
}

.menu_list ul li:hover .info .eng_name {
	transform: scale(1);
}

.menu_list ul li:hover .info .txt {
	transform: scale(1);
}

.menu_list ul li:hover .info .plus {
	transform: rotateY(360deg);
	bottom: 60px;
}



.last {
	margin-bottom: 120px;
}








footer {
	border-top: 1px solid #9999;
}